.deal {
  display: none;
  @include respond-to(d) {
    display: block;
    padding-bottom: 94px;
  }
}

.deal__title {
  @extend %title;
  font-size: $fz3;
  text-align: center;
  margin-bottom: $title-gap;
}

.deal-list {
  display: flex;
}

.deal__item {
  position: relative;
  flex-grow: 1;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.deal__label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #fff;
  background: rgba(47, 48, 58, 0.8);
}
