.header {
  display: flex;
  border-bottom: 1px solid #ececec;
  height: 60px;
  @include respond-to(d) {
    height: 80px;
  }
}

.header__block {
  display: flex;
  align-items: center;
  @include respond-to(jm) {
    justify-content: space-between;
  }
}

.header__contact-list {
  @include respond-to(jm) {
    display: flex;
    flex-direction: column-reverse;
  }
  @include respond-to(t) {
    margin-left: 15%;
  }
  @include respond-to(d) {
    display: flex;
    margin-left: 43%;
  }
}

.header__icon {
  @include respond-to(jm) {
    display: none;
  }
  @include respond-to(t) {
    display: flex;
    fill: currentColor;
    margin-right: 10px;
  }
}
.header__item {
  @include respond-to(jm) {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  @include respond-to(t) {
    margin-bottom: 10px;
  }
  @include respond-to(d) {
    margin-right: 30px;
  }
}
.header__item--last {
  @include respond-to(d) {
    width: 143px;
  }
}

@include respond-to(jm) {
  .header__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .header__tel {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.header__link {
  @extend %link;
  color: $prime-text-color;
  &:hover,
  &:focus {
    color: $prime-color;
  }
}

.mobile__social-list {
  display: inline-flex;
  @include respond-to(t) {
    display: none;
  }
}

.mobile__social-item {
  padding: 0 3%;
  border-left: 1px solid #21212133;
  @include respond-to(t) {
    display: none;
  }
}

.mobile__social-item--start {
  padding-right: 3%;
}

.mobile__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: $prime-color;
  @include respond-to(t) {
    display: none;
  }
}
