.plan-list {
  @include respond-to(t) {
    @include list-positioning();
  }
}
.plan__item-title {
  @extend %title;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $item-title-gap;
}

.plan__item:not(:last-child) {
  @include respond-to(jm) {
    margin-bottom: 30px;
  }
}

.plan__item {
  @include respond-to(t) {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @include respond-to(d) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.plan__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
