.portfolio__btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px -8px;
  margin-bottom: 50px;
}

.portfolio__btn {
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  margin: 15px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: $fz;
  letter-spacing: 0.03em;
  line-height: 1.6;
  background: #f5f4fa;
  transition: background-color $transition, color $transition, box-shadow $transition;
  &:focus,
  &:hover {
    background: $prime-color;
    color: #fff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.portfolio__item {
  margin-right: 8px;
}
