.portfolio-list {
  @include respond-to(t) {
    @include list-positioning();
  }
}

.portfolio__card:not(:last-child) {
  @include respond-to(jm) {
    margin-bottom: 30px;
  }
}

.portfolio__card {
  @include respond-to(t) {
    display: flex;
    margin: $list-gap;
    flex-basis: calc(100% / 2 - #{$list-gap}* 2);
  }
  @include respond-to(d) {
    flex-basis: calc(100% / 3 - #{$list-gap}* 2);
  }
}
.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  height: 294px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform $transition, opacity $transition;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: $fz1;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #fff;
}

.portfolio__card-bottom {
  padding: 20px 24px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.portfolio__link {
  transition: box-shadow $transition;
  text-decoration: none;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(255, 255, 255, 0.12);
    & .portfolio__overlay,
    & .portfolio__overlay {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: $prime-title-color;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  color: $prime-text-color;
}
