$prime-color: #2196f3;
$second-color: #188ce8;
$prime-title-color: #212121;
$prime-text-color: #757575;
$bg-color: #2f303a;

$title-gap: 50px;
$list-gap: 15px;
$item-title-gap: 10px;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$linear-gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.25) 34%,
  rgba(47, 48, 58, 0.52) 66%,
  rgba(47, 48, 58, 0.25)
);
$font-size: 14px;
$fz: 16px;
$fz1: 18px;
$fz2: 26px;
$fz3: 36px;
$fz4: 44px;
